include synthesis_paragraph_classifier/data/Model-2018-08-02-12_02_36-lightlda_r0_paragraph_topic_100-lightlda_r0_sentence_topic_200-RandomForest-all.pypickle
include synthesis_paragraph_classifier/data/SynthesisClassification.yml
include synthesis_paragraph_classifier/data/topic_200_s
include synthesis_paragraph_classifier/data/topic_200_s/server_1_table_1.model
include synthesis_paragraph_classifier/data/topic_200_s/corpus.dict
include synthesis_paragraph_classifier/data/topic_200_s/server_1_table_0.model
include synthesis_paragraph_classifier/data/topic_200_s/server_0_table_0.model
include synthesis_paragraph_classifier/data/topic_200_s/LightLDA.1.1690000.log
include synthesis_paragraph_classifier/data/topic_200_s/server_0_table_1.model
include synthesis_paragraph_classifier/data/topic_200_s/LightLDA.0.1670000.log
include synthesis_paragraph_classifier/data/topic_100_p
include synthesis_paragraph_classifier/data/topic_100_p/LightLDA.0.1720000.log
include synthesis_paragraph_classifier/data/topic_100_p/server_1_table_1.model
include synthesis_paragraph_classifier/data/topic_100_p/corpus.dict
include synthesis_paragraph_classifier/data/topic_100_p/server_1_table_0.model
include synthesis_paragraph_classifier/data/topic_100_p/LightLDA.1.1820000.log
include synthesis_paragraph_classifier/data/topic_100_p/server_0_table_0.model
include synthesis_paragraph_classifier/data/topic_100_p/server_0_table_1.model
